#lastUpdated{padding-bottom:30px}
#lastUpdated ul{margin-left:20px;color:#999}
#lastUpdated ul li{padding-bottom:6px;list-style:square}
#lastUpdated ul li a{display:block;line-height:1.2}
#lastUpdated .modified{color:#AAA;font-size:12px;padding-left:2px}
